<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <!-- {% if a > b %}
            <h1>if condition</h1>
            <h1>A is max</h1>
        {% else %}
            <h1>B is max</h1>
        {% endif %} -->
        
        {% if a > b %}
           {% if a > c %}
                <h1>if condition</h1>
                <h1>a is maximum</h1>
            {% else %}



    </center>
    
</body>
</html>